/* ロード時のプレイヤーのアニメーション */
.zoomIn {
    position: relative;
    animation: zoomIn 0.7s ease-in-out forwards;
}

@keyframes zoomIn {
    0% {
      transform: scale(0.3);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
}

.player:hover {
    @apply duration-100 transform scale-125;
}

.player-size {
    width: 48px;
    height: 48px;
}

@media (min-width: 375px) {
    .player-size {
        width: 52px;
        height: 52px;
    }
}

@media (min-width: 425px) {
    .player-size {
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 600px) {
    .player-size {
        width: 80px;
        height: 80px;
    }
}

@media (min-width: 768px) {
    .player-size {
        width: 95px;
        height: 95px;
    }
}